@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.title{
  text-align: center;
  margin-top: 5px;
}

.todos-List{
  border: 1px rgba(223, 218, 218, 0.863) solid ;
  padding: 40px;
}

.addTask-component{
  display: flex;
  justify-content: center;

}

.addTask-input {
  height: 25px;
  margin-top: 50px;
  text-align: center;
  border: 2px solid;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}

.addTask-btn {
  height: 30px;
  background-color: rgb(70, 185, 239);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
  font-family: 'Varela Round', sans-serif;
}

.todoList-component{
  margin-top: 50px;
  width: 700px;
}

.todoItem li{
  border-bottom: 1px rgba(224, 221, 221, 0.836) solid;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}



.todoItem .delete-btn {
  height: 30px;
  background-color: rgb(160, 147, 147);
  color: rgb(255, 250, 250);
  border: none;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
}

.todoItem {
  text-transform: uppercase;
}

.addTask-btn:hover {
  background-color: rgb(123, 199, 235);
}

.todoItem .delete-btn:hover{
  background-color: rgb(207, 90, 90);
}

.done {
  text-decoration: line-through;
}


.pending-completed-tasks{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.pending-completed-tasks span {
  font-size: 20px;
}